@import '../../../../styles/tokens';

.account-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $account-counter-padding;
  background: $account-counter-bg;
  border-radius: $account-counter-border-radius;
  box-sizing: border-box;

  lucide-icon {
    color: $account-counter-icon-color;
  }

  &__count {
    font-family: $account-counter-font;
    font-size: $account-counter-font-size;
    font-weight: $account-counter-font-weight;
    color: $account-counter-color;
  }

  &--large {
    width: $account-counter-lg-width;
    height: $account-counter-lg-height;
  }

  &--medium {
    width: $account-counter-md-width;
    height: $account-counter-md-height;
  }

  &--small {
    width: $account-counter-sm-width;
    height: $account-counter-sm-height;
  }
}
